useDynLib(ameras, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(RcppEigen)
import(methods)
importFrom("stats", "cov", "optim", "pchisq", "quantile", "rexp","qnorm",
           "rnorm", "runif", "uniroot", "optimize", "model.matrix", "terms",
           "as.formula")
importFrom("mvtnorm", "rmvnorm")
importFrom("memoise", "memoise")
importFrom("nimble", "nimbleCode", "nimbleFunction", "getNimbleOption", "nf_preProcessMemberDataObject", "nimbleModel", "compileNimble", "configureMCMC", "buildMCMC", "runMCMC")
importFrom("coda","HPDinterval",  "as.mcmc")
importFrom("numDeriv", "hessian")
importFrom("MCMCvis", "MCMCsummary", "MCMCtrace")
importFrom("utils", "head")
export(ameras, transform1, transform1.inv, transform1.jacobian, traceplot, ecdfplot)
S3method(coef,amerasfit)
S3method(summary, amerasfit)
S3method(print, summary.amerasfit)
S3method(traceplot, amerasfit)
S3method(print, amerasfit)
S3method(confint, amerasfit)
